[Desktop Entry]
Name=TG 190x4 EDITION
Comment=Personal Telegram Desktop build with the ghost-mode feature set
TryExec=TG190x4
Exec=env DESKTOPINTEGRATION=1 TG190x4 -- %U
Icon=com.tg190x4.desktop
Terminal=false
StartupWMClass=TG190x4
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=TG190x4 -quit
Name=Quit TG 190x4 EDITION
Icon=application-exit
